<html lang="ru">
    <head>
        <title>Административная структура компании — Отделы</title>
        <link rel="stylesheet" href="/styles/index_style.css">
    </head>
    <header class="header-main">
        <a href="/" class="header-logo">
            <img src="/img/logo.png" alt="Логотип">
        </a>
    </header>
    <div class="search-bar">
        <form action="/" method="GET" class="search-bar__form">
            <input type="text" name="query" class="search-input" placeholder="Поиск по отделам" value="{{ .query }}">
            <button type="submit" class="search-btn">Найти</button>
        </form>
    </div>
    <div class="space">
        <div class="cart-row">
            {{ if ne .department_application_count 0 }}
            <a href="/department_application/{{ .department_application_id }}" class="cart-row__link">
                <img src="{{ $.minioUrl }}/department.svg" alt="Корзина" class="cart-row__icon">
                <span class="cart-row__text">Отделов в заявке: {{ .department_application_count }}</span>
            </a>
            {{ else }}
            <div class="cart-row__inactive">
                <img src="{{ $.minioUrl }}/department.svg" alt="Корзина" class="cart-row__icon">
                <span class="cart-row__text">Отделов в заявке: 0</span>
            </div>
            {{ end }}
        </div>
        <div class="container">
            {{ range .departments }}
            <div class="card-wrapper">
                <a href="/department/{{ .DepartmentID }}" class="card" data-video="{{ $.minioUrl }}/{{ .Video }}">
                    <div class="card-accent-bar"></div>
                    <img src="{{ $.minioUrl }}/{{ .Photo }}" alt="img">
                    <h1>{{ .Title }}</h1>
                    <p class="card__employees">Сотрудников: {{ .EmployeeCount }}</p>
                    <p class="card__description">{{ .ShortDescription }}</p>
                </a>
                <form method="POST" action="/api/dep_app_dep/add/{{ .DepartmentID }}" class="card-add-form">
                    <button type="submit" class="card-add-btn">Добавить в заявку</button>
                </form>
            </div>
            {{ end }}
        </div>
    </div>
</html>
